.img__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    width: 100%;
    height: 90%;
}

.charmander {
    width: 800px;
    height: 500px;
    border: none;
    border-radius: 1em;
}


/* width="100%" height="100%" style='position:absolute;top:0;left:0;' frameBorder="0" allowFullScreen */