.poke__container-home {
    position: relative;
    padding-bottom: 4em;
    min-height: 100vh;
}

.poke__img-home {
    max-width: 500px;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
}

.poke__title-home {
    color: #ea2525;
    text-align: center;
    margin-bottom: 0.2em;
    font-size: 1.8rem;
}

.poke__info-home {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 2em;
}

.poke__home-form {
    display: flex;
    justify-content: center;
}

.poke__input-home {
    width: 100%;
    max-width: 300px;
    font-size: 1rem;
    font-weight: 300;
    padding: 0.5em 0.8em;
    border-radius: 0.5em 0 0 0.5em;
    border: none;
    box-shadow: 0 0.1em 0.3em #0005;
}

.poke__btn-home {
    font-size: 1rem;
    padding: 0.5em 2em;
    box-shadow: 0 0.1em 0.3em #0005;
    border-radius: 0 0.5em 0.5em 0;
    border: 1px solid #dd142f;
    background-color: #D93F3F;
    color: aliceblue;
    cursor: pointer;
    transition: filter 50ms ease;
}

.poke__btn-home:hover {
    filter: brightness(1.1);
    box-shadow: 0 0.1em 0.3em #0005;
}

.poke__btn-home:active {
    box-shadow: inset .5rem .5rem 1rem #4e2121;
    transition: all 1s ease;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 500px;
}

.img__container {
    display: flex;
}

.pika__img {
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    margin-top: -95px;
}

.poke__footer {
    width: 100%;
    padding: 2em;
    height: 40px;
    background-color: #dd1a1aea;
    position: absolute;
    bottom: 0;
}

.footer__black { 
    height: 20px;
    width: 100%;
    margin-left: -32px;
    background-color: #0C0C0C;
    position: absolute;
    bottom: 0;
}

@media screen and (min-width: 120px) {
    .poke__title-home {
        font-size: 2.5rem;
    }
    .poke__info-home, .poke__input-home,
    .poke__btn-home {
        font-size: 1.2rem;
    }
}