.poke__select {
    width: 45%;
    min-width: 80px;
    height: 35px;
    margin-left: 50px;
    margin-bottom: 1.5em;
    border: none;
    border-radius: 0.5em;
    box-shadow: 0 0.1em 0.3em #0005;
}

